<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body class="loggedin">
    <nav class="navtop">
      <div>

        {% if userrole %}
          {% if userrole == 1 %}
            <h1>Hi Horticulturalists</h1>
          {% elif userrole == 2 %}
            <h1>Hi Staff</h1>
          {% elif userrole == 3 %}
            <h1>Hi admin</h1>
          {% endif %}
          {% if userrole > 1 %}
            <a href="{{ url_for('user_management') }}"
              ><i class="fas fa-home"></i>Users</a
            >
            <a href="{{ url_for('guide_management') }}"
              ><i class="fas fa-home"></i>Guides</a
            >
          {% endif %}

          {% if userrole > 2 %}
            <a href="{{ url_for('staff_management') }}"
              ><i class="fas fa-home"></i>Staffs</a
            >
          {% endif %}
        {% endif %}
        <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
        <a href="{{ url_for('profile') }}"
          ><i class="fas fa-user-circle"></i>Profile</a
        >
        <a href="{{ url_for('logout') }}"
          ><i class="fas fa-sign-out-alt"></i>Logout</a
        >
      </div>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>

